.form-left {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 50%;
	float: left;
	padding: 20px;
	background-color: #58FAF4
}
.form-left h2 {
	color: #2271dd;
}

.form-left label{
	font-size: 20px;
}

.form-right {
	width: 50%;
	background: #4835d4;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	float: right;
	padding: 20px;
	color: white;
}

.form-right h2 {
	color: #fff;
}

.compulsory{
	color: red;
}

.form-row{
	margin-bottom: 10px;
	margin-top: 20px;
}

.container h1{
	text-align: center;
	margin-bottom: 50px;
	color: white;
}

.submit{
	float: right;
	margin-top: 20px;
}

body{
	background-color: #1e90ff
}